<!--<p>admin-login-success works!</p>-->
<html>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
               
    
            </li>
            <li class="nav-item active">
               
    
            </li>
         </ul>
    </nav>
    
    
    <body>
        <head>
            <style>
            body {
              background-image: url('photo.jpg');
            }
            </style>
            </head>
        
        <div class="fixed-header">
            <div class="container">
               
            </div>
        </div>
        <br>
        <br>
        
            <h1 class="text-center">{{title}}</h1>
          
            <br>
            <br>
            <br> 
    <div class="flex-parent jc-center">
        <button (click)="gotoTrip()">Trip</button>
    </div>
        <br>
        <br>
        <br>
    <div class="flex-parent jc-center">
        <button (click)="gotoStation()">Station</button>
    </div>
    
<div class="container">

<router-outlet></router-outlet>
</div>

<div class="container">
    
</div>    



    </body>
   <!---- <footer class="footer">
        <div class="container">
            <span> Trip Scheduling Project</span>
        </div>
    
    </footer>-->

</html>
